{% extends "layout.html" %} 
{% block body %}
<style type="text/css">
    .pai img{
        position: relative;
    }

    .pai img:hover{
        bottom: 10px;
    }
</style>

<h1>天和を和了ろう！</h1>

<br><br>

<p>東1局　あなた：東家　{{ count }}巡目</p>
<p>ドラ<img src="../static/{{ doralink }}.gif" style="width: 30px; height: 40px; margin-left: 10px;"></p>
<div class="pai">
{% for i in range(13) %}
<a href="{{ url_for('tileselect', num=i) }}" method="get"><img src="../static/{{ tilelinks[i] }}.gif"></a>
{% endfor %}
<a href="{{ url_for('tileselect', num=13) }}" method="get"><img src="../static/{{ tilelinks[13] }}.gif" style="margin-left: 30px;"></a>
</div>

<br><br>

<div class="btn-group">
<form action="{{ url_for('reload') }}">
    <button type="submit" class="btn btn-primary" style="background-color: rgba(51, 140, 199, 0.705); border-color: rgba(51, 140, 199, 0.705);">配りなおす</button>
</form>
<form action="{{ url_for('tumo') }}">
    <button type="submit" class="btn btn-primary" style="background-color: rgba(168, 55, 149, 0.705); border-color: rgba(168, 55, 149, 0.705); margin-left: 50px;">ツモ！</button>
</form>
</div>
{% endblock %}