{% extends "layout.html" %}
{% block title %}
ユーザ一覧画面
{% endblock %}
{% block body %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ユーザ名</th>
        <th scope="col">トゥイート数</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>
            {% set cnt = [0] %}
            {% for tweet in tweets %}
                {% if tweet.from_user_id == user.id %}
                    {% set _ = cnt.append(cnt[0] + 1) %}
                    {% set _ = cnt.pop(0) %}
                {% endif %}
            {% endfor %}
            {{ cnt[0] }}
        </td>
        <td>
            <a href="{{url_for('user_info', id=user.id)}}" class="btn btn-primary" role="button" data-bs-toggle="button">プロフィール閲覧</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}